.home_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 40px 8px 40px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    margin: 100px 2px;
    cursor: pointer;
    border-radius: 48px;
}
.home_button:hover {
    background-color: #45a049;
}
.home_button img {
    width: 48px;
    height: 48px;
}